venv
.DS_Store
__pycache__
*.m4a
*.mp4
*.pyc
*.csv
*.zip
*.bak
*.vs

gradle*
com
out
Demos
build
db.sqlite3

*.iml
.gradle
.idea
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.clj-kondo

ignore*
